<!DOCTYPE html>
<html lang="fr-FR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Réalisations</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div id="app">
        <div>
            <h1>Sotrexco</h1>
            <nav>
                <ul>
                    <li><a href="index.html">Accueil</a></li>
                    <li><a href="/produit">Produits</a></li>
                    <li><a href="">Connexion/Inscription</a></li>
                    <li><a href="realisation.html">Réalisations</a></li>
                </ul>
            </nav>
        </div>
        <main>
            <div id="affiche">
                <h1>Réalisations</h1> 
                <p>Exemple 0</p>
                <button>
                    En savoir plus
                    <a href=""></a>
                </button>
            </div>
            <fieldset>
                <legend>Les autres réalisations</legend>
                Type 1 <input type="checkbox" v-model="type1">
                Type 2 <input type="checkbox" v-model="type2">
                Type 3 <input type="checkbox" v-model="type3">
            </fieldset>
            <div class="realisation" v-for="r in realisations">
                <div v-if='(type1 && r.type=="type1") || (type2 && r.type=="type2") || (type3 && r.type=="type3")'>
                    <img :src="r.photo">
                    <div>{{r.titre}}</div>
                    <div>
                        <a href="">{{r.descriptif}}</a>
                    </div>
            </div>
        </main>
    </div> 
    <script>
        const app = Vue.createApp({
            data(){
                return{
                    type1: true,
                    type2: true,
                    type3: true,
                    realisations: [
                        {
                            "photo": "img1.jpg",
                            "type": "type1",
                            "titre": "Exemple 1",
                            "descriptif": "lien1"
                        },
                        {
                            "photo": "img2.jpg",
                            "type": "type2",
                            "titre": "Exemple 2",
                            "descriptif": "lien2" 
                        },
                        {
                            "photo": "img3.jpg",
                            "type": "type3",
                            "titre": "Exemple 3",
                            "descriptif": "lien3"
                        }
                    ]
                }
            }
        });
        app.mount("#app");
    </script>
    <footer></footer>
</body>
</html>
