* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.container {
    margin-left: 10px;
    margin-right: 10px;
}

a {
    color: #333;
    text-decoration: none;
}

/* Styles de la section d'en-tête */
header h1 {
    float: left;
    font-size: 50px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

header nav {
    float: right;
}

header li {
    display: inline-block;
    margin-left: 20px;
}

li a {
    display: block;
    padding: 15px;
}

/* Styles de la section héro */
#presentation {
    background-image: url("https://via.placeholder.com/1200x600");
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 100px;
}

#presentation h2 {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 30px;
    text-shadow: 2px 2px #000;
    text-align: center;
}

#presentation p {
    font-size: 20px;
    margin-bottom: 30px;
    text-align: center;
}

.activite-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 150px;
}

.activite {
    margin: 20px;
    text-align: center;
    padding: 20px;
}

.activite h3 {
    margin-top: 10px;
}

#activite h2 {
    padding-top: 20px;
    text-align: center;
}

#services {
    background-color: #f9f9f9;
    padding: 20px;
}

.services-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 150px;
}

.services {
    margin: 20px;
    text-align: center;
    padding: 20px;
}

#services h2 {
    text-align: center;
}

.services h3 {
    margin-top: 10px;
}

.realisation-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 150px;
}

.realisation {
    margin: 20px;
    text-align: center;
    padding: 20px;
}

#realisation {
    padding: 20px;
}

#realisation h2 {
    text-align: center;
}

.realisation h3 {
    margin-top: 10px;
}

/* Styles du pied de page */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    margin-top: 50px;
}

footer p {
    text-align: center;
}

.cta {
    display: block;
    margin-top: 20px;
    background-color: #2c3e50;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
}